@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ddd;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
  }
  
  input[type="text"] {
    width: 60%;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
  }
  
  button {
    width: 40%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
  }
  
body{
    height: auto;
}


main{
    width: auto;
    height: 100%;
    background-color:#FFFFFF;
}

.display-moderno{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;

    
}
/*CONFIGURAÇÕES DE BANNER GRNADE*/
.banner-grande{
   
    
    margin: auto;
    margin-left: 17%;
    height:400px;
    width: 100%;
    margin-top: 0%;
    padding: 2%;
    border-radius: 20px;
    object-fit: cover;
}

.banner-grande img{
    
    border-radius: 20px;
}

.banner-grande #btn1{
    height: 15%;
    position: relative;
    top:39%;
    left: 20%;


}

.banner-grande #btn2{
    height: 15%;
    position: relative;
    top:39%;
    left: -20%;


}

.img-display{
   display: inline;
}




/* CONFIGURAÇÕES DE BLOCO DE SCROLL*/

.estilo-bloco-imagem{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.281);
    height:100%;
    background-color: rgb(249, 250, 250);
    width: 19%;
    border-radius: 5px 5px 5px 5px;
    font-family: 'Urbanist', sans-serif;
    font-weight: bolder;
}

.tamanho-de-imagens{
    width: 100%;
    height: auto;
    border-radius: 5px 5px 5px 5px;
    
}

.fundo-scroll{
    padding: 2%;
    margin-top: 5%;
}

.fundo-scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  
  .estilo-bloco-imagem {
    flex: 0 0 auto;
    width: 200px;
    height: 350px;
    margin-right: 10px;
  }

/*FOTOS DO ITENS DAS CATEGORIAS*/


.categorias-fotos h3{
    display:inline-block;
    color: rgb(100, 23, 23);
    line-height: 79%;
    font-family: 'Urbanist', sans-serif;
}

.categorias-fotos div  img{
    border-radius: 50%;
    width: 110%;
    height: 50%;
    
}

.item-container {
    display: flex;
    font-family: 'Urbanist', sans-serif;
    font-weight: bold;
  }
  
  .item {
    width: 30%;
    margin: 10px;
    text-align: center;
    font-family: 'Urbanist', sans-serif;
  }
  
  .item img {
    width: 50%;
    height:50%;
    border-radius: 50%;
  }
  
  
  /*imagem dos produtos*/
  .products-list {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    flex-direction: row;
  }


  
  .product {
    width: 33%;
    text-align: center;
    font-family: 'Urbanist', sans-serif;
    margin-top: 10%;
  }
  
  .product img {
    width: 65%;
    height: 89%;
    border-radius: 20px;
    
  }

  .product button{
    background-color:#CE0B81;
    border-radius: 1px 0px 25px 1px;
  }
  


/*media querry*/

@media screen and (max-width:600px) {
    main{
        width: 100%;
        height: auto;
    }

    .estilo-bloco-imagem{
        background-color: rgb(247, 239, 239);
        width: 55%;
        height: 42%;
        margin: 5%;
        border-radius:28px;
        text-align: center;
        object-fit: contain;
        
    }

    .estilo-bloco-imagem img{
        height: 65% ;
        width: 100%;
        object-fit:fill;
        border-radius: 10px;
    }

    .fundo-scroll{
      width: 100%;
      height: 50%;

    }

    .banner-grande{
        width: 100%;
        margin: auto;
        margin-left: 0%;
        height: auto;

    }

    .banner-grande img{
        width: 100%;
    }
    .categorias-fotos div  img{
        width: 300%;
        height: 100%;
    }
    .product{
        flex-direction: row;
        width: 35%;
        min-height: 200%;
        margin-top: 10%;
        background-color: rgb(253, 253, 253);

    }


    .product img{
        width: 100%;
        height: 50%;
        margin-top: 20%;
        
    }

    .product button{
        width: 100%;
    }

}